<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    <h1>Admin Panel</h1>
    <form id="create_user" action="/api/create_user" method="post">
        <label for="user">User</label>
        <input type="text" name="user" id="user" required>
        <label for="password">Password</label>
        <input type="text" name="password" id="password" required>
        <label for="del_date">Delete Date</label>
        <input type="date" name="del_date" id="del_date">
        <input type="submit" value="Create">
    </form>

    <script type="module">
        import { Main } from "/js/main.js";
        Main.PostForm('create_user');
    </script>
</body>
</html>