* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background: #f5f5f5;
}

.file-buttons {
    opacity: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
}

div div p a#NXReportButton.notiflix-report-button{
    border-radius: 50px !important;
}

.file-btn i{
    pointer-events: none;
}

#folder-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.full-w {
    width: 100vw;
}

.all-w{
    width: 100%;
}

.file-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(238, 238, 238);
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 230px;
    height: 200px;
    /* cursor: pointer; */
    position: relative;
}

.file-info{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 15px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    z-index: 1;
}

.file-icon {
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.file-icon img{
    transition: all 0.6s ease;
    transform: scale(1.4);
}

.file-container:hover .file-icon img{
    transform: scale(1.7);
}

.file-container:hover .file-buttons{
    opacity: 1;
}

.file-icon img {
    width: 100px;
    height: 100px;
    margin-bottom: 35px;
}

.file-buttons .file-btn{
    padding: 20px;
    background-color: rgba(230, 228, 228, 0.8);
    border-radius: 4px;
    border: 1px solid rgba(204, 204, 204, 1);
    color: rgb(48, 147, 212);
    font-size: 1.7rem;
    cursor: pointer;
    width: 72px;
    height: 74px;
}

.file-buttons .file-btn-client{
    padding: 20px;
    position: relative;
    background: none;
    border: none;
    outline: none;
    color: rgba(48, 146, 212, 0.767);
    font-size: 1.7rem;
    cursor: pointer;
    width: 100%;
    height: 100%;
    font-size: 1.7rem;
    background-color: rgba(162, 162, 162, 0.295);
}

.file-btn-client i{
    position: absolute;
    top: 15px;
    right: 15px;
}

.text-name-file{
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
}

.hidden-name-file{
    position: absolute;
    display: block;
    top: 100%;
    left: 50%;
    opacity: 0;
    width: fit-content;
    background-color: #111;
    color: #fff;
    padding: 10px 15px;
    transform: translate(-50%, -50%);
    transition: all 0.1s ease-in-out;
    transition-delay: 0s;
    overflow: visible;
}

.file-info:hover .hidden-name-file{
    transition: all 0.3s ease-in-out;
    transition-delay: 1s;
    opacity: 1;
}

.fa-file-pen{
    margin-left: 4px;
}

#drop-items {
    margin: 1rem auto;
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 384px;
    max-width: 100%;
    height: 160px;
    border: 2px dashed grey;
    border-radius: 15px;
}

#drop-items small {
    font-size: 0.7rem;
    color: rgba(162, 162, 162, 0.8);
}
  
#drop-items i {
    font-size: 3rem;
    flex-grow: 1;
    padding-top: 1.5rem;
}

#drop-items.green-border {
    border-color: green;
    color: green;
}


#user-nav{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    font-size: 1.3rem;
    text-align: center;
}

#user-nav i{
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: color 0.3s ease;
}

#user-nav i:hover {
    color: rgb(134, 134, 134);
}

.logo-h1 {
    width: 52px;
    margin-right: 9px;
}

.s-all{
    width: 100vw;
    height: 100vh;
}

/* Login */
.flex-c {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

#login-container h1{
    margin-bottom: 30px;
    padding: 10px 20px;
    border-bottom: 1px solid rgb(145, 145, 145);
}

.min-card {
    padding: 10px 20px;
    border: 1px solid rgba(204, 204, 204, 0.966);
    border-radius: 4px;
}


/* Pen */
#login-form {
  --primary: #6D58FF;
  --primary-dark: #362A89;
  --dark: #2B3044;
  --grey-dark: #404660;
  --grey: #8A91B4;
  --grey-light: #A6ACCD;
  --light: #BBC1E1;
  --pale: #ECEFFC;
  --white: #FFFFFF;
  --red: #F04949;
  width: 100%;
  max-width: 180px;
}
#login-form .logo {
  width: 44px;
  height: 44px;
  display: block;
  margin: 0 auto;
  fill: var(--primary);
}
#login-form h1 {
  margin: 24px 0;
  font-family: inherit;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: var(--dark);
}
#login-form .input {
  position: relative;
}
#login-form .input label {
  pointer-events: none;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
  position: absolute;
  top: 8px;
  left: 0;
  transform-origin: 0 50%;
  transform: translateY(var(--label-y, 0)) scale(var(--label-scale, 1)) translateZ(0);
  transition: transform 0.3s, color 0.3s;
  color: var(--label-color, var(--grey-light));
}
#login-form .input input {
  width: 100%;
  border-radius: 0;
  -webkit-appearance: none;
}
#login-form .input input:not(:placeholder-shown) + label, #login-form .input input:focus + label {
  --label-y: -17px;
  --label-scale: 0.8;
  --label-color: var(--grey);
}
#login-form .input.email {
  margin-bottom: 16px;
}
#login-form .input.email input {
  background: none;
  outline: none;
  border: none;
  color: var(--grey-dark);
  font-weight: 500;
  font-family: inherit;
  font-size: 13px;
  letter-spacing: 0.025em;
  line-height: 22px;
  caret-color: var(--primary);
  padding: 7px 0 5px 0;
  box-shadow: inset 0 -1px 0 0 var(--grey);
}
#login-form .input.password {
  height: 34px;
}
#login-form .input.password .dots {
  position: absolute;
  display: flex;
  left: 0;
  top: 50%;
  transform: translateY(-2px);
  padding-left: 2px;
}
#login-form .input.password .dots i {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--grey-dark);
  display: block;
  margin-right: 4px;
  animation: var(--name, scale-in) 0.05s linear forwards;
}
#login-form .input.password .dots i.remove {
  --name: scale-out;
}
#login-form .input.password .dots i:nth-child(1) {
  --delay: 393.5ms;
}
#login-form .input.password .dots i:nth-child(2) {
  --delay: 387ms;
}
#login-form .input.password .dots i:nth-child(3) {
  --delay: 380.5ms;
}
#login-form .input.password .dots i:nth-child(4) {
  --delay: 374ms;
}
#login-form .input.password .dots i:nth-child(5) {
  --delay: 367.5ms;
}
#login-form .input.password .dots i:nth-child(6) {
  --delay: 361ms;
}
#login-form .input.password .dots i:nth-child(7) {
  --delay: 354.5ms;
}
#login-form .input.password .dots i:nth-child(8) {
  --delay: 348ms;
}
#login-form .input.password .dots i:nth-child(9) {
  --delay: 341.5ms;
}
#login-form .input.password .dots i:nth-child(10) {
  --delay: 335ms;
}
#login-form .input.password .dots i:nth-child(11) {
  --delay: 328.5ms;
}
#login-form .input.password .dots i:nth-child(12) {
  --delay: 322ms;
}
#login-form .input.password .dots i:nth-child(13) {
  --delay: 315.5ms;
}
#login-form .input.password .dots i:nth-child(14) {
  --delay: 309ms;
}
#login-form .input.password .dots i:nth-child(15) {
  --delay: 302.5ms;
}
#login-form .input.password .cursor {
  position: absolute;
  height: 15px;
  width: 1px;
  left: 0;
  top: 10px;
  background: var(--primary);
  opacity: 0;
  transform: translateX(var(--cursor-x, 0));
  transition: transform var(--cursor-duration, 0.1s);
}
#login-form .input.password input {
  opacity: 0;
  padding: 0;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}
#login-form .input.password input:focus + label + .cursor {
  animation: cursor 1s ease infinite;
}
#login-form .input .line, #login-form .input .tick {
  pointer-events: none;
  position: absolute;
  left: var(--left, 0);
  bottom: var(--bottom, -10px);
  opacity: var(--opacity, 1);
  transition: opacity 0s linear var(--tick-opacity-delay, 0.5s);
}
#login-form .input .line svg, #login-form .input .tick svg {
  stroke: var(--line-stroke, var(--grey));
  stroke-width: 1;
  fill: none;
  display: block;
  width: var(--width, 900px);
  height: var(--height, 22px);
  transform: translateX(var(--x, var(--line-x, 0)));
  transition: transform var(--line-x-duration, 0s) ease, stroke 0.3s;
}
#login-form .input .line {
  overflow: hidden;
  width: 100%;
  transform-origin: 0 50%;
}
#login-form .input .tick {
  --left: 100%;
  --bottom: -1px;
  --width: 32px;
  --height: 28px;
  --x: -16px;
  --opacity: 0;
}
#login-form .input .tick svg {
  stroke: var(--tick-stroke, var(--grey));
  stroke-dasharray: 17 81;
  stroke-dashoffset: var(--tick-offset, 34px);
  transition: stroke-dashoffset 0.5s ease var(--tick-delay, 0s), stroke 0.5s ease var(--tick-delay, 0s);
}
#login-form button {
  border: none;
  outline: none;
  padding: 10px 0;
  margin: 24px 0 0 0;
  border-radius: 7px;
  color: var(--c, #fff);
  width: 100%;
  font-size: 14px;
  line-height: 16px;
  position: relative;
  font-family: inherit;
  font-weight: 500;
  background: var(--b, var(--primary-dark));
  transition: color 0.3s, background 0.3s;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}
#login-form button:disabled {
  --b: var(--pale);
  --c: var(--grey-light);
  cursor: not-allowed;
}
#login-form button svg {
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -8px 0 0 -8px;
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-width: 1.5;
  opacity: var(--svg-o, 0);
  transform: translateY(var(--svg-y, -16px)) rotate(-90deg) scale(var(--svg-s, 0.7)) translateZ(0);
  transition: transform 0.3s, opacity 0.3s;
}
#login-form button svg circle:first-child {
  stroke-opacity: 0.1;
}
#login-form button svg circle:last-child {
  stroke-dasharray: 38px;
  stroke-dashoffset: 114px;
}
#login-form button span {
  display: inline-block;
  vertical-align: top;
  line-height: 16px;
  opacity: var(--span-o, 1);
  transform: translateY(var(--span-y, 0)) scale(var(--span-s, 1)) translateZ(0);
  transition: transform 0.3s, opacity 0.3s;
}
#login-form.processing:not(.error):not(.success) button {
  --svg-y: 0;
  --svg-s: 1;
  --svg-o: 1;
  --span-y: 16px;
  --span-s: 0.7;
  --span-o: 0;
}
#login-form.processing:not(.error):not(.success) button svg circle:last-child {
  animation: load 1.2s linear 0.3s;
}
#login-form.processing.error {
  --line-x: -80%;
  --line-x-duration: 2s;
  --line-stroke: var(--red);
  --cursor-duration: 1s;
}
#login-form.processing.error .dots i {
  animation: flip 0.4s linear var(--delay) forwards;
}
#login-form.processing.success .input .tick {
  --opacity: 1;
  --tick-offset: 98px;
  --tick-delay: 0.45s;
  --tick-opacity-delay: 0s;
  --tick-stroke: var(--primary);
  animation: tick 0.4s linear forwards;
}
#login-form.processing.success .input .line {
  animation: line 0.5s linear forwards;
}
@keyframes tick {
  70%, 80% {
    transform: translateX(-10px);
  }
}
@keyframes line {
  70% {
    transform: scaleX(0.8);
  }
}
@keyframes flip {
  25% {
    transform: translateY(8px);
  }
  35% {
    transform: translateY(12px);
  }
  65% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(-12px) scale(0);
  }
}
@keyframes load {
  from {
    stroke-dashoffset: 114px;
  }
  to {
    stroke-dashoffset: 38px;
  }
}
@keyframes scale-in {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes scale-out {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
@keyframes cursor {
  50% {
    opacity: 1;
  }
}
html {
  -webkit-font-smoothing: antialiased;
}

body .dribbble {
  position: fixed;
  display: block;
  right: 20px;
  bottom: 20px;
}

body .dribbble img {
  display: block;
  height: 28px;
}

.w-100{
  width: 100%;
}

#login-form img{
  width: 80px;
  margin-bottom: 50px;
}

#login-form input{
  margin: 10px 0;
}

/* User File Container */
#folder-container a{
  color:rgb(48, 147, 212);
  text-decoration: none;
}

.folder-view{
  width: 100%;
  height: 100%;
  padding: 12px;
}

.folder-container a:visited{
  color: inherit;
}

.folder {
  position: relative;
}

.folder h2{
  font-weight: 400;
}

.folder-info{
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 12px;
  border: 2px solid rgba(48, 146, 212, 0.486);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  transition: all 0.4s ease;
}

.folder-info:hover{
  border-color: rgba(48, 146, 212, 0.886);
}

.folder
{
  width: 175px;
  height: 190px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.4s ease;
  margin: 10px 20px;
}

.folder:hover
{
  box-shadow: 1px 3px 2px #adadada9;
}

.folder h2{
  margin: 15px 0 7px 0;
}

.folder img{
  width: 65px;
}

.folder button {
  display: flex;
  border: 1px solid rgba(48, 146, 212, 0.753);
  outline: none;
  border-radius: 5px;
  font-size: 1rem;
  line-height: 16px;
  transition: border 0.3s ease, font-size 0.1s ease;
  width: 80%;
}

.folder button:hover {
  border: 1px solid rgb(48, 147, 212);
  font-size: 1.1rem;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
}

.circle-bg{
	fill: none;
	stroke: #EEE;
	stroke-width: 3.2;
  stroke-linecap: round;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

@keyframes go_down {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(20px);
    opacity: 0;
  }
}

@keyframes go_up {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-chart{
  animation: progress 1s ease-out forwards;
}

.go-down{
  animation: go_down 0.4s cubic-bezier(0.29,-1.45, 0.7, 1.4) forwards;
}

.go-up{
  animation: go_up 0.4s cubic-bezier(0.29,-0.45, 0.7, 1.4) forwards;
}	

.circular-chart{
  overflow: visible;
}

.circular-chart.orange .circle {
  stroke: #ff9f00;
}

.circular-chart.green .circle {
  stroke: #4CC790;
}

.circular-chart.blue .circle {
  stroke: #3c9ee5;
}

.max-size{
  font-size: 6px;
}

.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

.flex-wrapper{
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

.single-chart{
  position: absolute;
  top: -8px;
  left: 27px;
  opacity: 0;
  width: 80px;
  margin: 20px;
}

@media screen and (max-width: 1100px) {
  .file-container{
    width: 144px;
    height: 141px;
  }

  .folder {
    margin: 10px 5px;
  }
}