* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background: #f5f5f5;
}

.file-buttons {
    opacity: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
}
div div p a#NXReportButton.notiflix-report-button{
    border-radius: 50px !important;
}

.file-btn i{
    pointer-events: none;
}

#folder-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.full-w {
    width: 100vw;
}

.all-w{
    width: 100%;
}

.file-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(238, 238, 238);
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 230px;
    height: 200px;
    /* cursor: pointer; */
    position: relative;
}

.file-info{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 15px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    z-index: 1;
}

.file-icon {
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.file-icon img{
    transition: all 0.6s ease;
    transform: scale(1.4);
}

.file-container:hover .file-icon img{
    transform: scale(1.7);
}

.file-container:hover .file-buttons{
    opacity: 1;
}

.file-icon img {
    width: 100px;
    height: 100px;
    margin-bottom: 35px;
}

.file-buttons .file-btn{
    padding: 20px;
    background-color: rgba(230, 228, 228, 0.8);
    border-radius: 4px;
    border: 1px solid rgba(204, 204, 204, 1);
    color: rgb(48, 147, 212);
    font-size: 1.7rem;
    cursor: pointer;
    width: 72px;
    height: 74px;
}

.file-buttons .file-btn-client{
    padding: 20px;
    position: relative;
    background: none;
    border: none;
    outline: none;
    color: rgba(48, 146, 212, 0.767);
    font-size: 1.7rem;
    cursor: pointer;
    width: 100%;
    height: 100%;
    font-size: 1.7rem;
    background-color: rgba(162, 162, 162, 0.295);
}

.file-btn-client i{
    position: absolute;
    top: 15px;
    right: 15px;
}

.text-name-file{
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
}

.hidden-name-file{
    position: absolute;
    display: block;
    top: 100%;
    left: 50%;
    opacity: 0;
    width: fit-content;
    background-color: #111;
    color: #fff;
    padding: 10px 15px;
    transform: translate(-50%, -50%);
    transition: all 0.1s ease-in-out;
    transition-delay: 0s;
    overflow: visible;
}

.file-info:hover .hidden-name-file{
    transition: all 0.3s ease-in-out;
    transition-delay: 1s;
    opacity: 1;
}

.fa-file-pen{
    margin-left: 4px;
}

#drop-items {
    margin: 1rem auto;
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 384px;
    max-width: 100%;
    height: 160px;
    border: 2px dashed grey;
    border-radius: 15px;
}

#drop-items small {
    font-size: 0.7rem;
    color: rgba(162, 162, 162, 0.8);
}
  
#drop-items i {
    font-size: 3rem;
    flex-grow: 1;
    padding-top: 1.5rem;
}

#drop-items.green-border {
    border-color: green;
    color: green;
}


#user-nav{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    font-size: 1.3rem;
    text-align: center;
}

#user-nav i{
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: color 0.3s ease;
}

#user-nav i:hover {
    color: rgb(134, 134, 134);
}

.logo-h1 {
    width: 52px;
    margin-right: 9px;
}